.screenshot img {
  margin-top: 60px;
  margin-left: 220px;
  width: 80%;
  border-radius: 10px;
}
.eventLogo img {
  width: 150px;
  position: absolute;
  top: 90px;
  left: 40px;
}
.h2rLogo img {
  width: 100px;
  position: absolute;
  top: 140px;
  left: 65px;
}
.speakerImage {
  position: absolute;
  top: 424px;
  left: 45px;
}
.speakerImage img {
  width: 140px;
}
body{
  background-image: url('file:///Users/johnbarker/Desktop/background-image.jpg');
}
.text {
  text-align: left;
  position: absolute;
  left: 45px;
  bottom: 50px;
  font-family: futura;
}
.talkTitle {
  background-color: white;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 30px;
}
.speakerName {
  background-color: white;
  padding: 5px;
  font-size: 20px;
}
